@use "/public/styles/variables" as *;
.foodInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-title {
    width: 300px;
    margin: 0 auto;
    font-family: $inter;
    font-style: normal;
    font-weight: $fontWeightTitle;
    font-size: 54px;
    line-height: 77px;
    text-align: center;
    letter-spacing: -0.04em;
    color: $colorDark;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &-dish {
    width: 369.65px;
    height: 311.91px;
    margin: 0 auto;
    border-radius: 15px;
  }
  &-options {
    display: flex;
    justify-content: space-around;
  }
}

.foodSpecifications {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  &-container {
    display: flex;

    justify-content: center;
    align-items: center;
    font-family: $inter;
    font-style: normal;
    font-weight: $fontWeightBody;
    color: $colorDark;
    &--titleTimer {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.1em;
      margin-left: 10px;
    }
    &--titleMinutes {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;

      color: rgba(0, 0, 0, 0.6);
    }
    &--titleType {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;
      margin-left: 10px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
